<% title 'About me, my skills and my experiences' %>

<div class="jumbotron bg-dark">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= gravatar_image_tag(SETTINGS['gravatar_email'].gsub('[at]', '@'),
                             alt: SETTINGS['gravatar_alt'],
                             class: 'rounded-circle',
                             gravatar: { size: 200, secure: SETTINGS['gravatar_secure'] }
                            )
      %>
    </div>
    <div class="col-md-8 text-center text-md-left text-white">
      <h1>About me</h1>
      <p class="lead">
        Hey there!<br>
        My name is Marcel Wiegand.<br>
        I'm a developer, student of computer science and open source advocate.
      </p>
    </div>
  </div>
</div>
<h2>Skills</h2>
<div class="row">
  <div class="col-md-4">
    <h3 class="h4">Programming Languages</h3>
    <ul>
      <li>C and C++</li>
      <li>Ruby</li>
      <li>PHP</li>
      <li>Java</li>
      <li>Python</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 class="h4">Frameworks</h3>
    <ul>
      <li>Qt</li>
      <li>Ruby on Rails</li>
      <li>Symfony</li>
      <li>Bootstrap</li>
      <li>ROS</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 class="h4">Web-Technologies</h3>
    <ul>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>XML</li>
      <li>JavaScript</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3 class="h4">Experiences & Technologies</h3>
    <ul>
      <li>Robotics</li>
      <li>Artificial Intelligence</li>
      <li>Computer Graphics</li>
      <li>Databases (MySQL, SQLite & PostgreSQL)</li>
      <li>Git</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 class="h4">Field of Interest</h3>
    <ul>
      <li>Linux (Member of the Linux Foundation)</li>
      <li>Open Source Software</li>
      <li>Android</li>
      <li>Pebble</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h3 class="h4">Events & Projects</h3>
    <ul>
      <li><%= link_to 'BluePanel - Source that matters…', 'http://bluepanel.org' %></li>
      <li>
        <%=
          link_to 'SICK Robot Day 2014',
          'https://www.uni-osnabrueck.de/kommunikation/kommunikation_und_marketing_angebot_und_aufgaben/pressestelle/archiv_pressemeldungen/monatsarchiv/pressemeldung/artikel/selbstfahrende-roboter-simulieren-lagerlogistik-3-platz-beim-sick-robot-day.html'
        %>
      </li>
      <li>PI Praxis</li>
      <li>SICK Robot Day 2018</li>
    </ul>
  </div>
</div>
<div class="row justify-content-center">
  <p class="text-center">
    Want to chat or work with me? Feel free to contact me.<br>
    You can find me on
    <%= link_to icon('fab', 'github', class: 'fa-2x social-icon', 'aria-hidden' => true), 'https://github.com/' + SETTINGS['github_username'], 'aria-label' => 'Github' %>
    <%= link_to icon('fab', 'linkedin', class: 'fa-2x social-icon', 'aria-hidden' => true), 'https://www.linkedin.com/in/' + SETTINGS['linkedin_username'], 'aria-label' => 'LinkedIn' %>
    <%= link_to icon('fab', 'google-plus-g', class: 'fa-2x social-icon', 'aria-hidden' => true), 'https://plus.google.com/+' + SETTINGS['google_plus_username'], 'aria-label' => 'Google+' %>
    <%= link_to icon('fab', 'twitter', class: 'fa-2x social-icon', 'aria-hidden' => true), 'https://twitter.com/' + SETTINGS['twitter_username'], 'aria-label' => 'Twitter' %>
  </p>
</div>
