<div class="row">
  <div class="col-lg-4">
    <div class="card text-center colored-card">
      <div class="card-body">
        <%= image_tag gravatar_url(SETTINGS['gravatar_email'], 140), class: 'rounded-circle' %>
      </div>
      <div class="card-body">
        <h4 class="card-title">Marcel Wiegand</h4>
        <p class="card-text">I am a software developer and student of Computer Science.</p>
        <%= link_to 'About me', about_path, class: 'btn btn-outline-info' %>
      </div>
      <div class="card-footer social-links">
        <%= link_to icon('github', class: 'fa-2x', 'aria-hidden' => true), 'https://github.com/' + SETTINGS['github_username'], 'aria-label' => 'Github' %>
        <%= link_to icon('linkedin', class: 'fa-2x', 'aria-hidden' => true), 'https://www.linkedin.com/in/' + SETTINGS['linkedin_username'], 'aria-label' => 'LinkedIn' %>
        <%= link_to icon('google-plus', class: 'fa-2x', 'aria-hidden' => true), 'https://plus.google.com/+' + SETTINGS['google_plus_username'], 'aria-label' => 'Google+' %>
        <%= link_to icon('twitter', class: 'fa-2x', 'aria-hidden' => true), 'https://twitter.com/' + SETTINGS['twitter_username'], 'aria-label' => 'Twitter' %>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div id="latest-posts" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @posts.each_with_index do |post, index| %>
          <%= content_tag(:li, nil, data: { target: '#latest-posts', slide_to: index }, class: index == 0 ? 'active' : nil) %>
        <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% @posts.each_with_index do |post, index| %>
          <%= content_tag(:div, render('posts/post_preview', post: post), class: ['carousel-item', index == 0 ? 'active' : nil]) %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#latest-posts" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#latest-posts" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
