<% title @post.title %>

<article class="card card-inverse card-primary post-card">
  <div class="card-header">
    <% if can? :manage, @post %>
      <div class="actions">
        <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_post_path(@post), class: 'btn-sm btn-primary' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")), @post, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn-sm btn-danger' %>
      </div>
    <% end %>
    <h1 class="card-title"><%= @post.title %></h1>
    <h2 class="card-subtitle text-muted">Submitted <%= @post.created_at.strftime("%d. %B %Y") %></h2>
  </div>
  <div class="card-block">
    <div class="card-text"><%= raw @post.content_with_bbcode %></div>
  </div>
  <footer class="card-footer">
    <small class="text-muted">Last updated <%= time_ago_in_words(@post.updated_at) %> ago</small>
    <div class="tags">
      <% @post.tags.each do |tag| %>
        <%= link_to content_tag(:span, tag.name, class: ['tag', 'tag-pill', 'tag-default']), tag_path(tag.name) %>
      <% end %>
    </div>
  </footer>
</article>

<%= link_to t('.back', :default => t("helpers.links.back")), posts_path, class: 'btn btn-primary' %>
