<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Marcel Wiegand", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: ["nav-link", (current_page?(root_path) ? "active" : "")] %>
        </li>
        <li class="nav-item">
          <%= link_to "Blog", posts_path, class: ["nav-link", (current_page?(posts_path) ? "active" : "")] %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: ["nav-link", (current_page?(about_path) ? "active" : "")] %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to t('navigation.user.edit_profile'), edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to t('navigation.user.sign_out'), destroy_user_session_path, :method => :delete, class: "nav-link" %>
          </li>
        <% else %>
          <% if SETTINGS['registration_is_enabled'] %>
            <li class="nav-item">
              <%= link_to t('navigation.user.sign_up'), new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to t('navigation.user.sign_in'), new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
