<!DOCTYPE html>
<html>
  <head>
    <title>Marcel Wiegand alias mawiegand - <%= content_for?(:title) ? yield(:title) : 'Software Developer who believes in free software' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= piwik_tracking_tag %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>

    <div id="site" class="container <%= yield(:site_class) if content_for?(:site_class) %>">
      <%= flash_messages %>
        
      <%= yield %>
    </div>
  </body>
</html>
